{extend name="public:base"/}
{block name="body"}
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h2>全部问答</h2>
                </div>

                {volist name="mes" id="vo" empty="暂时没有数据"}
                <div class="row">
                  <img src="__IMAGE__/{$vo.title_img}"  style="margin-top:5px;width:100px;height:100px;float:left;">
                  <span style="margin-left:10px;height:20px;float:left;">

                        <!-- 获取当前文章的id -->
                        <h4><a href="{:url('detail',['id'=>$vo.id])}">标题:{$vo.title}</a></h4>
                        <p>作者:{$vo.user_id|getUserName} ;发布时间：{$vo.create_time|date='Y-m-d H:i:s'}|阅读量:{$vo.pv}
                        </p>
                      <p>详情:{$vo.content|substrDetail}>>><a href="http://www.baidu.com">详情</a></p>
                        <hr/>

                    </span>

                </div>
                {/volist}
                <div style="margin-top:50px" >
                    <ul class="pagination">
                        {$list|raw}
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="page-header">
                    <h2>热门排行</h2>
                </div>
{/block}

